---
import "@/styles/style.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sandbox Archives</title>
  </head>
  <body>
    <h1>Fixed Navigation in iOS 26</h1>
    <ul>
      <li>
        <a href="/fixed-navigation-in-ios-26/normal">Normal</a>
      </li>
      <li>
        <a href="/fixed-navigation-in-ios-26/add-bg-layer-to-body-blured"
          >Add bg layer to body(blured)</a
        >
      </li>
      <li>
        <a href="/fixed-navigation-in-ios-26/scrolling-container"
          >Scrolling container</a
        >
      </li>
    </ul>

    <h2>References</h2>
    <ul>
      <li>
        <a href="https://webkit.org/blog/13666/fixed-navigation-in-ios-26/"
          >Fixed Navigation in iOS 26</a
        >
      </li>
    </ul>
  </body>
</html>
